# Make the top level annotations last
# https://matplotlib.org/2.0.0/examples/color/named_colors.html
#AnnotationID   Name    color
6710	Background	black
58499	Target Region	whitesmoke
16070	Subcutis	lemonchiffon
16015	Reticular Dermis	teal
6630	Papillary Dermis	olive
6622	Epidermis	crimson
6616	Stratum Corneum	blue
6644	Hair follical	grey
340258	Hair mesenchyme	g
6636	Hair bulb	dimgray
34003	Hair bulb basaloid	saddlebrown
6702	Smooth muscle	pink
6658	Sebaceous gland	purple
6666	Eccrine gland	orange
6672	Apocrine gland	plum
6650	Blood vessel	red
6680	Melanocytes	brown
6688	Nevomelanocytes	maroon
6694	Langerhans cells	darkolivegreen
6733	Inflammatory cell	lawngreen
6741	Fibroblasts	gold
16229	Nerve	turquoise
186746	Lymphatic	steelblue


